.flex-container{
    display: flex;
    border: 2px solid black;
    max-width: 300px;
    margin-bottom: 20px;
    justify-content: center;
}

.item{
    background-color: orangered;
    margin: 5px;
    padding: 10px;
    text-align: center;
    color: white;
}

.fg-0{
    flex-grow: 0;
}

.fg-1{
    flex-grow: 1;
}

.fg-2{
    flex-grow: 2;
}

.fg-3{
    flex-grow: 3;
}

.flex-container1{
    max-width: 300px;
    border: 1px solid black;
    display: flex;
}

.item1{
    background-color: coral;
    color: white;
    text-align: center;
    margin: 5px;
}

.bauto{
    flex-basis: auto;
}

.b-0{
    flex-basis: 0;
}

.w100{
    flex-basis: 100PX;
}

.flex-container2{
    display: flex;
    border: 1px solid black;
    max-width: 350px;
    margin-bottom: 10px;
}

.item2{
    background-color: orangered;
    font-size: 24px;
    text-align: center;
    margin: 5px;
}

.s-0{
    flex-shrink: 0;
    flex-basis: 100px;
}

.s-2{
    flex-shrink: 2;
    flex-basis: 100px;
}

.s-3{
    flex-shrink: 3;
    flex-basis: 100px;
}

.flex-container3{
    display: flex;
    border: 1px solid black;
    max-width: 400px;
    margin: 10px;
}

.item3{
    background-color: brown;
    color: white;
    font-size: 24px;
    text-align: center;
    margin: 5PX;
}

.flex-1{
    flex: 1;
    /* grow = 1, shrink = 1, basis =0*/
}

.flex-2{
    flex: 2;
    /* grow = 2, shrink = 1, basis =0*/
}

.largura{
    width: 200px;
    /*min-width: 200px*/
}

.flex-container4{
    display: flex;
    max-width: 300px;
    border: 1px solid black;
    margin-bottom: 20px;
}

.item4{
    flex: 1;
    background: brown;
    color: white;
    text-align: center;
    font-size: 24px;
    margin: 5px;
}

.o1{
    order: 1;
}

.o2{
    order: 2;
}

.o3{
    order: 3;
}

.o4{
    order: 4;
}

.direction{
    flex-direction: column;
}